{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}

{% block content %}
<div class="col-xs-12">
  <nav>
    <ul class="pagination" id="month">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">Вересень 2016</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </nav>
</div>

<!-- Start Student Journal -->
<table class="table table-hover table-striped visit_table" id="visit_table">
  <thead>
    <tr>
      <th>№</th>
      <th>Студент</th>
      <th>Чт 1</th>
      <th>Пт 2</th>
      <th>Сб 3</th>
      <th>Нд 4</th>
      <th>Пн 5</th>
      <th>Вт 6</th>
      <th>Ср 7</th>
      <th>Чт 8</th>
      <th>Пт 9</th>
      <th>Сб 10</th>
      <th>Нд 11</th>
      <th>Пн 12</th>
      <th>Вт 13</th>
      <th>Ср 14</th>
      <th>Чт 15</th>
      <th>Пт 16</th>
      <th>Сб 17</th>
      <th>Нд 18</th>
      <th>Пн 19</th>
      <th>Вт 20</th>
      <th>Ср 21</th>
      <th>Чт 22</th>
      <th>Пт 23</th>
      <th>Сб 24</th>
      <th>Нд 25</th>
      <th>Пн 26</th>
      <th>Вт 27</th>
      <th>Ср 28</th>
      <th>Чт 29</th>
      <th>Пт 30</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'students_edit' student.id %}">{{ student.last_name }}
        {{ student.first_name }}</a></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
      <td><input type="checkbox" unchecked></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- End Student Journal -->

{% endblock content %}
